#savebut {
 	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgb(255, 71, 79) ;
  	-fx-background-radius: 8, 7, 6;
  	-fx-background-insets: 0, 1, 2;
  	-fx-text-fill: black;
  	-fx-font-size: 22 ;
  	-fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#savebut:hover {
 -fx-background-color: rgba(255, 71, 79, 0.8)
}

#savebut:pressed {
  -fx-background-color: rgba(255, 75, 80, 0.9)
}



#logInBut {
 	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgba(75, 255, 93, 1) ;
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-text-fill: black;
  -fx-font-size: 22 ;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#logInBut:hover {
 -fx-background-color: rgba(75, 255, 93, 0.8)
}

#logInBut:pressed {
  -fx-background-color: rgba(80, 255, 95, 0.9)
}



#title {
	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgb(197, 22, 255) ;
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-font-size: 30 ;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}


#label{
	 -fx-text-fill : white ; 
	 -fx-border-color: #008B8B ; 
	 -fx-background-color:rgba(54, 0, 255, 0.8) ; 
	 -fx-font-weight: bold; 
	 -fx-font-size:20 ;
	 -fx-font-family: "Times New Roman", Times, serif;
	-fx-background-radius: 50px;
	 -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
   -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#label1{
	 -fx-text-fill : rgba(0, 0, 61, 0.9); 
	 -fx-border-color: #008B8B ; 
	 -fx-background-color: rgba(176, 230, 66, 1) ; 
	 -fx-font-weight: bold; 
	 -fx-font-size:24 ;
	 -fx-font-family: "Times New Roman", Times, serif;
	-fx-background-radius: 50px;
	 -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
   -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}


#examBut {
 	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgba(75, 255, 93, 1) ;
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-text-fill: black;
  -fx-font-size: 18 ;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#examBut:hover {
 -fx-background-color: rgba(75, 255, 93, 0.8)
}

#examBut:pressed {
  -fx-background-color: rgba(80, 255, 95, 0.9)
}


#subt{
	 -fx-text-fill : white ; 
	 -fx-border-color: #008B8B ; 
	 -fx-background-color: rgba(187, 108, 208, 0.9) ; 
	 -fx-font-weight: bold; 
	 -fx-font-size:24 ;
	 -fx-font-family: "Times New Roman", Times, serif;
	-fx-background-radius: 50px;
	 -fx-border-radius: 50px;
  
   -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#mainBut {
 	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgba(97, 0, 255, 1) ;
  -fx-background-radius: 8, 7, 6;
  -fx-background-insets: 0, 1, 2;
  -fx-text-fill: white;
  -fx-font-size: 20 ;
  -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#mainBut:hover {
 -fx-background-color: rgba(97, 11, 255, 0.5)
}

#main:pressed {
  -fx-background-color: rgba(97, 11, 255, 0.5)
}

#label2 {
 	-fx-text-fill : white;
 	-fx-font-weight: bold;
	-fx-background-color:	rgba(72, 221, 203, 1) ;
  -fx-text-fill: white;
  -fx-font-size: 30 ;
 
}

